<html>
    <head>

    </head>
    <body>
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae numquam dolor culpa alias odio odit recusandae eius ullam, molestias, enim aperiam dolorum fugiat quaerat architecto ab excepturi autem iusto incidunt!</p>
    {{>footer}}
    </body>
</html>